 <div layout="column" class="relative md" layout-fill role="main" flex>
      <!-- tollbar -->
      <toolbar-app app-container="appContainer"></toolbar-app>
      <!-- content -->
      <md-content flex md-scroll-y style="padding:24px;" layout-align="start start" layout="row">

        <!-- <select-atividades atividade="atividade"></select-atividades> -->
      <md-whiteframe flex="50"  class="md-whiteframe-5dp padding-medium input-uppercase md-padding" style="margin-right:20px;" >    
   
          <form layout="column" name="userForm" class="" >
          <h2>Preencha os dados abaixo para realizar um cálculo</h2>
       
          <div layout="column">
      <!--       <label>Selecione o regime em que sua empresa se enquadra</label>
       -->      <md-input-container class="md-block" flex>
              <label>Regime em que sua empresa se enquadra</label>
              <md-select ng-model="form.regime">
                <md-option value="simples">Simples Nacional</md-option>
                <md-option value="lucro">Lucro Presumido</md-option>
              </md-select>
            </md-input-container>
          </div> 
          <div layout layout-sm="column" ng-if="form.regime == 'simples'">
              <md-input-container flex>
                  <label>Soma do valor faturamento da empresa nos últimos 12 meses, excluindo-se o faturamento de mês da simulação</label>
                  <input format="number" next-on-enter="faturamento" id="fatanterior" name="fatanterior" ng-model="form.fatanterior" type="text">
              </md-input-container>
          </div>
         
          <div layout="column" >
      <!--         <label>Valor do faturamento da empresa no mês referente à simulação</label>
       -->        <md-input-container>
                  <label>Valor do faturamento da empresa no mês referente à simulação</label>
                  <input format="number" next-on-enter="folha" id="faturamento" name="faturamento" ui-mask="99 - 99999-999?9" ui-mask-placeholder-char="_" class="remove-placeholder" ng-model="form.faturamento" type="text" ng-blur="update('tel')">
              </md-input-container>
          </div>
      
          <div layout="column" >
      <!--         <label>Soma do valor da folha de pagamento da empresa no mês referente à simulação</label>
       -->        <md-input-container>
                  <label>Soma do valor da folha de pagamento da empresa no mês referente à simulação</label>
                  <input format="number" next-on-enter="celular1" id="folha" name="folha" ui-mask="99 - 99999-999?9" ui-mask-placeholder-char="_" class="remove-placeholder" name="tel1" id="tel" ng-model="form.folha" type="text" ng-blur="update('tel')">
              </md-input-container>
          </div>
          <div layout layout-sm="column" ng-if="form.regime == 'simples'">
            <md-input-container class="md-block" flex>
              <label>Atividade econômica</label>
              <md-select name="atividade" ng-model="form.codatividade">
                <md-option ng-repeat="atv in atividades">{{atv.display}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div  layout="column" layout-align="end end" flex>
                  <md-button  ng-if="formIsValid()" ng-click="calcula();" class="md-raised md-accent">
                                   Calcular
                                  </md-button>
                                  </div>
      </form>
</md-whiteframe>
    <md-whiteframe  flex="50" class="md-whiteframe-5dp padding-medium input-uppercase md-padding" >    
    <h2>Resultado</h2>

    <md-table-container  >
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column><span>Descrição</span></th>
          <th md-column md-numeric ><span>Aliquota</span></th>
          <th md-column md-numeric>Valor</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="row in resultado.objects">
          <td md-cell>{{row.descricao}}</td>
          <td md-cell>{{row.aliquota}}%</td>
          <td md-cell>R$ {{row.valor|currencyBRL}}</td>
        </tr>
        <tr md-row>
          <td md-cell><b>Total</b></td>
          <td md-cell><b>{{resultado.total.aliquota}}%</b></td>
          <td md-cell class="md-title"><b>R$ {{resultado.total.valor|currencyBRL}}</b></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

</md-whiteframe>
</md-content>
      </div> 